

.wrap {
    display:block;
    max-width: 1180px;
    margin: auto;
}

.main-content {
    padding: 2em;
    background:#fff;
    border-radius:1em;
    margin-top:1em;
}

.main-content h1{
    color:var(--secondary-color-dark);
}